/* TODO: Cleanup CSS*/
/** CSS Variables **/
:root{
    --common-color: purple;
    --button-font-color: white;
    --indentation: 2%;
  }

/** Universal Styling **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/** Header Styling **/
header{
    width: 80%;
    font-size: 20px;
    display: flex;
}

header a{
    color: var(--common-color);
    text-decoration: none;
    position: relative;
    left: 10px;
}

header div {
    font-size: 20px;
    right: 10px;
    position: absolute;
    right: 10px;
    display: flex;
}

/** Content Stylings **/
.container{
    width: 60%;
    margin: 0 auto;
    position: relative;
}

/** General Stylings **/
.hidden {
    visibility: hidden;
}

/** Form Stylings **/
.form{
    margin: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    position: absolute;
    left: 20px;
}

.form h1{
    margin: 0 20px;
    width: fit-content;
    font-size: 30px;
}

.form button{
    background-color: var(--common-color);
    color: var(--button-font-color);
    margin: 20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

/* Highscore Stylings */
#highscores table{
    background-color: white;
    margin: 0 auto;
    width: 85%;
    min-height: 20px;
}

/* Quiz Intro Stylings */
#quiz-intro p{
    margin: 0 20px;
    width: fit-content;
    text-indent: var(--indentation);
}

#quiz-intro button{
    margin: 20px auto;
    display: block;
}

/* Question Form Stylings */
#question-form{
    display: flex;
    flex-direction: column;
}

#question-form p{
    margin: 0 20px auto;
    width: 80%;
    font-size: 20px;
    text-indent: var(--indentation);
}

#question-form button{
    margin: 2px 0 2px 20px;
    padding: 0;
    text-align: left;
}

